body {background-color: #6d6875 ; font-family: inherit;
    

}
.medium {background-color: #b5838d; 

}
.large {background-color: #e5989b;
}
.small {
    background-color: #ffb4a2; 
}
.contact{background-color: #ffcdb2; margin-top: 10mm;

text-align: center;} 
.pizza{ padding: 10mm; border: 1mm solid rgb(41, 40, 40);
; align-content: center;
} 
.block{ display: flex; margin: 10mm;
}
.header{text-align: center; font-size: 20mm; font-style: oblique;
}   
